:root {
    --boxcolor: black;
}

body {
    background-image: url('../media/short_left.png'), url('../media/short_right.png'), url('../media/longtiles_dark.png');
    font-size: x-large;
}

* {
    color: white;
}

header, main, footer{
    width: 95%;
    max-width: 1300px;
}

li {
    background-position: left 10px;
}

header {
    background-image: url("../media/nav_tiles.jpg");
}

header img {
    display:block;
    float: none;
    width: 50%;
    margin: auto;
}

h1 {
    width: 100%;
}

.jumptocontent {
    width: 410px;
}

.navbar {
    width: 100%;
    background: var(--boxcolor);
    border-radius: 0 0 8px 8px;
    border-right: none;
    padding: 0;
}

footer h2 {
    display: none;
}

footer p {
    width: 100% !important;
}

.triple img {
    display: none;
}

.boxed {
    width: 50%;
}

.boxed:nth-of-type(1) {
    margin-right: 20px;
}

legend {
    font-size: 120%;
}

.switcher img {
    filter: hue-rotate(190deg);
}

.switcher:hover img {
    filter: hue-rotate(0deg);
    transform: rotate(720deg);
    transition: transform 1s, filter 0.8s;
}

.switcher:hover::before {
    content: "Default style";
    left: -185px;
    top: 1px;
    font-size: 110%;
    border: 2px solid var(--portalblue);
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 240% !important;
    }

    h2, .portalsr h2, .experience h2 {
        font-size: 180%;
    }

    table {
        font-size: 80%;
    }

    .checkboxes, .radiobuttons {
        font-size: 85%;
    }

}

@media screen and (max-width: 1000px) {
    .navbar {
        font-size: 90%;
    }
}