@media print {
    
    :root {
        --portalblue: black;
        --portalorange: black;
    }

    * {
        font-family: 'Times New Roman', Times, serif;
        color: black;
        background-color: white;
    }

    h2, .portalsr h2 span, .boxed h2 span, footer h2 {
        font-family: 'Garamond', 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    a, a:visited {
        color: black;
    }

    header, main, footer {
        width: 95%;
        font-size: medium;
    }

    header {
        display: none;
    }

    li {
        list-style: circle;
    }

    footer {
        margin: 0 auto;
    }
    
    footer h2 {
        display: block;
        width: 100%;
        position: relative;
        transform: none;
        top: 0;
        text-align: center;
        font-size: 350%;
        font-weight: 500;
        letter-spacing: 2px;
        color: black;
        page-break-before: auto;
    }

    footer p {
        width: 100%;
    }

    footer::before {
        display: none;
    }

    .triple img {
        display: none;
    }

    .boxed {
        width: 50%;
    }

    .boxed:nth-of-type(1) {
        margin-right: 20px;
    }

    .portalsr h2 span {
        color: var(--portalblue);
    }

    caption {
        display: none;
    }

    table {
        page-break-before: always;
        margin-bottom: 30px;
    }
    
    .vidwrap {
        display: none;
    }

    .carousel {
        display: none;
    }

    .extra {
        margin: auto;
        width: 50%;
    }

    .extra img {
        width: 100%;
    }

    aside.extra {
        display: none;
    }

    .righttext .extra, .lefttext .extra {
        border: none;
    }

    .experience {
        margin-bottom: 0;
    }

    .boxed h2 span {
        color: var(--portalblue);
    }

    .experience .boxed {
        margin: 0;
    }

    .printbreak {
        page-break-before: always;
    }

    form {
        display: none;
    }

    a:after {
        content: " (" attr(href) ")";
    }

    a[href="media/companion_cube.jpg"]::after {
        content: none;
    }

    div.nav{
        display: none;
    }
}