@media screen and (max-width: 1200px) {
    body {
        background-image: url('../media/short_left.png'), url('../media/short_right.png'), url('../media/longtiles_dark.png');
    }

    header, main, footer {
        width: 85%;
    }
}

/* #region header */

@media screen and (max-width: 767px) {
    .nav-item {
        text-align: right;
        background-position: right;
        padding: 3px 25px 3px 10px;
    }
}

@media screen and (max-width: 1200px) {
    header img {
        display:block;
        float: none;
        width: 50%;
        margin: auto;
    }

    h1 {
        width: 100%;
        font-size: 350%;
        margin-top: 10px;
    }

    .navbar {
        width: 100%;
        border-radius: 0 0 8px 8px;
        border-right: none;
        padding: 0;
    }
}

/* #endregion */

/* #region footer */

@media screen and (max-width: 1200px) {

    footer h2 {
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: 20%;
        height: 100%;
        writing-mode: vertical-rl;
        left: 75%;
        padding-left: 5%;
    }

    footer p {
        width: 70%;
    }

    footer:hover h2{
        animation: none;

        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    footer:hover div.teleports{
        display: none;
        width: 0;
        height: 0;
    }
}

/* #endregion */

/* #region triple */

@media screen and (max-width: 1000px) {
    .triple img {
        display: none;
    }

    .boxed {
        width: 50%;
    }

    .boxed:nth-of-type(1) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 700px) {
    .triple {
        display: block;
    }
    .boxed {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* #endregion */

/* #region portalsr */

@media screen and (max-width: 1000px) {
    .portalsr {
        width: 95%;
    }
}

/* #endregion */

/* #region table */

@media screen and (max-width: 1000px) {
    table {
        width: 95%;
    }
}

/* #endregion */

/* #region sidebyside */

@media screen and (min-width: 1000px) {
    .sidebyside {
        margin: 10px 2.5% 10px ;
        display: inline-block;
        position: relative;
    }
    
    .sidebyside .text {
        width: 50%;
        padding: 10px 10px 0;
        border-radius: 10px;
        margin: 0;
    }
    
    .sidebyside .extra {
        width: 48%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .extra img {
        border-radius: 0 8px 0 0;
    }

    .righttext figcaption {
        border-radius: 0 0 8px 0;
    }
    
    .righttext video {
        border-radius: 8px 0 0 0;    
    }

    .righttext .text {
        float: right;
        margin-left: 10px;
    }
    
    .righttext .extra {
        float: left;
        left: 0;
        border: 3px solid var(--portalblue);
        border-right: 6px groove var(--portalorange);
        border-radius: 10px 0 0 10px;
    }

    .righttext .carousel img {
        border-radius: 6px 0 0 6px;
    }

    .righttext figcaption {
        border-radius: 0 0 0 8px;
    }
    
    .lefttext .text {
        float: left;
        margin-right: 10px;
    }
    
    .lefttext .extra {
        float: right;
        right: 0;
        border: 3px solid var(--portalorange);
        border-left: 6px groove var(--portalblue);
        border-radius: 0 10px 10px 0;
    }

    .righttext .extra .vidwrap iframe {
        border-radius: 6px 0 0 6px;
    }
    
    .lefttext .extra .vidwrap iframe {
        border-radius: 0 6px 6px 0;
    }
}

/* #endregion */

/* #region feedback */

@media screen and (max-width: 800px) {
    form {
        width: 95%;
    }

    .flex {
        display: block;
    }

    .data, .flex div, .flex fieldset {
        width: 95%;
    }

    .checkboxes {
        border-radius: 10px 10px 0 0;
    }

    .radiobuttons {
        border-radius: 0 0 10px 10px;
    }

    .flex fieldset.areainput {
        width: 95%;
    }

    .flex fieldset.submitreset {
        margin-top: 20px;
        width: 95%;
    }

    input[type="submit"], input[type="reset"] {
        width: 45%;
        margin: 5px auto;
    }

    input#nickname {
        margin-bottom: 10px;
    }
}

/* #endregion */