body {
    background-size: contain, contain, auto;
}

div#header, div#main {
    width: 85%;
    min-width: 280px;
    max-width: 1100px;
    position: relative;
    margin: auto;
    color: white;
}

.jumptocontent {
    width: 410px;
}

/* #region header */

div#header {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

div.nav {
    width: 225px;
    float: left;
    font-size: 160%;
    margin-left: 10px;
}

div.nav a:visited {
    color: var(--portalblue)
}

div.nav a:visited:hover {
    color: var(--portalorange)
}

h1 {
    width: 100%;
    font-family: TitleFont, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 300%;
    margin-top: 0;
    color: rgb(203, 203, 203);
    padding: 0px 5px;
    text-align: center;
    float: none;
}

@media screen and (max-width: 800px) {
    div.nav{
        float: none;
    }
}

/* #endregion */

/* #region main */

div#main {
    margin-top: 20px;
}

p {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
    background: black;
    border-radius: 10px;
    font-size: 130%;
}

/* #endregion */